* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 941px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 960px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  color: #48555b;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.31px;
  position: relative;
  z-index: 0;
}

.title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #00a4e5;
}

.button {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00a4e5;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0079a8;
}

.main {
  background-image: url("../img/bgmain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__logo {
  width: 101px;
  height: 23px;
  margin: 41px 0 0 0;
}

.main__title {
  margin-top: auto;
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-size: calc(50px + 10 * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  text-align: center;
  line-height: calc(52px + 20 * ((100vw - 320px) / (1440 - 320)));
  letter-spacing: 5.70937px;
}

@media (max-width: 560px) {
  .main__title {
    margin-bottom: 10px;
  }
}

.main__subtitle {
  margin-bottom: auto;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.main__scroll {
  color: #fff;
  font-size: 11px;
  letter-spacing: 3.7px;
  margin-bottom: 71px;
  text-align: center;
}

.header {
  border-bottom: 1px solid #e6e6e6;
  height: 65px;
}

.header__body {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 80px;
  height: 18px;
  margin-right: auto;
}

.header__link {
  font-weight: 600;
  font-size: 12px;
  color: #48555b;
  letter-spacing: 1.09px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header__link:hover {
  color: #00a4e5;
}

.header__link + .header__link {
  margin-left: 40px;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__burger.active {
  position: fixed;
  top: 30px;
  right: 15px;
}

.header__burger.active:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}

.header__burger.active:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 10;
    -webkit-transition: position 0.6s;
    transition: position 0.6s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #48555b;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    position: absolute;
    background-color: #48555b;
    height: 2px;
    width: 100%;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #f0f0f0;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 1.5s ease 0s;
    transition: all 1.5s ease 0s;
    z-index: 5;
  }
  .header__nav.active {
    top: 0;
  }
  .header__body {
    height: 50px;
  }
  .header__link {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  .header__link + .header__link {
    margin: 0 0 20px 0;
  }
}

.our-story {
  margin-bottom: calc(50px + 68 * ((100vw - 320px) / (1440 - 320)));
}

.our-story__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-story__title {
  margin-top: calc(30px + 27 * ((100vw - 320px) / (1440 - 320)));
  margin-bottom: calc(30px + 37 * ((100vw - 320px) / (1440 - 320)));
}

.our-story__title::before {
  left: 35.5px;
}

.our-story__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 905px) {
  .our-story__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-story__story-block {
  width: 405px;
}

@media (max-width: 905px) {
  .our-story__story-block {
    width: 70%;
    margin: 0 0 20px 0;
  }
}

@media (max-width: 620px) {
  .our-story__story-block {
    width: 100%;
  }
}

.our-story__label {
  font-size: calc(15px + 5 * ((100vw - 320px) / (1440 - 320)));
  font-weight: 700;
  color: #48555b;
  margin-bottom: calc(10px + 20 * ((100vw - 900px) / (1440 - 900)));
  letter-spacing: 0.170455px;
  line-height: 27px;
}

.our-story__label span {
  color: #00a4e5;
}

.our-story__discription {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.1875px;
  line-height: 23px;
}

.our-story__image-block img {
  width: 140px;
  height: 224px;
}

@media (max-width: 700px) {
  .our-story__image-block img {
    width: calc(90px + 70 * ((100vw - 320px) / (700 - 320)));
    height: calc(144px + 84 * ((100vw - 320px) / (700 - 320)));
  }
}

.our-story__image-block img + img {
  margin-left: calc(5px + 15 * ((100vw - 320px) / (1440 - 320)));
}

@media (max-width: 905px) {
  .our-story__image-block {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 620px) {
  .our-story__image-block {
    width: 100%;
  }
}

.capabilities__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.capabilities__title-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: calc(30px + 46 * ((100vw - 320px) / (1440 - 320)));
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 440px) {
  .capabilities__title-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.capabilities__title {
  margin-right: auto;
  max-height: 38px;
}

@media (max-width: 552px) {
  .capabilities__title {
    margin: 0 auto 30px auto;
  }
}

.capabilities__subtitle {
  width: 400px;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  color: #48555b;
  margin-right: 31px;
}

@media (max-width: 810px) {
  .capabilities__subtitle {
    width: 60%;
    margin: 0 0 0 15px;
  }
}

@media (max-width: 551px) {
  .capabilities__subtitle {
    margin: 0 10px 0 15px;
  }
}

@media (max-width: 477px) {
  .capabilities__subtitle {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 440px) {
  .capabilities__subtitle {
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 810px) {
  .capabilities__button {
    margin: 40px auto 0 auto;
  }
}

@media (max-width: 552px) {
  .capabilities__button {
    margin: 0;
    margin-left: auto;
  }
}

@media (max-width: 440px) {
  .capabilities__button {
    margin: 0;
  }
}

.capabilities__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .capabilities__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.capabilities__item {
  width: 295px;
  height: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e6e6e6;
}

@media (max-width: 900px) {
  .capabilities__item:not(:last-child) {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 320px) {
  .capabilities__item {
    width: 100%;
    padding: 5px;
  }
}

.card__content {
  max-width: 250px;
}

.card__image {
  width: 65px;
  height: 75px;
  margin-bottom: 25px;
}

.card__title {
  color: #48555b;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.426667px;
  line-height: 24px;
  margin-bottom: 13px;
}

.card__description {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  color: #48555b;
  letter-spacing: 0.1875px;
  line-height: 23px;
}

.get {
  height: calc(400px + 99 * ((100vw - 320px) / (1440 - 320)));
  background-image: url("../img/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get__title {
  width: 340px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #48555b;
  letter-spacing: 0.15px;
  line-height: 36px;
  margin: 0 0 35px 0;
}

@media (max-width: 340px) {
  .get__title {
    width: 100%;
    padding: 0 5px 0 5px;
  }
}

.footer__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 735px) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__nav {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 735px) {
  .footer__nav {
    width: calc(360px + 85 * ((100vw - 400px) / (735 - 400)));
    margin: 20px 0 30px 0;
  }
}

@media (max-width: 400px) {
  .footer__nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-row-gap: 20px;
    width: 100%;
  }
}

.footer__content {
  background-color: #141a20;
  height: 240px;
}

@media (max-width: 735px) {
  .footer__content {
    height: auto;
    padding: 15px 0 20px 0;
  }
}

.footer__company {
  width: 250px;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__title {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85px;
  margin-bottom: 14px;
}

.footer__logo {
  width: 101px;
  height: 23px;
}

.footer__subtitle {
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
  width: 100%;
}

.footer__links {
  width: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
}

.footer__link + .footer__link {
  margin-top: 10px;
}

.footer__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 400px) {
  .footer__link-block--top {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 400px) {
  .footer__contact {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
}

.footer__contact p {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85px;
  line-height: 16px;
  color: #fff;
}

.footer__contact a {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.85px;
  line-height: 16px;
  margin: 20px 0;
  color: #fff;
}

@media (max-width: 400px) {
  .footer__contact a {
    margin: 5px 0;
  }
}

.footer__social {
  width: 87px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social img {
  width: 13px;
  height: 13px;
  -webkit-filter: grayscale(100%) brightness(1000%);
          filter: grayscale(100%) brightness(1000%);
}

@media (max-width: 767px) {
  .footer__social img:not(:last-child) {
    margin: 0 0 15px 0;
  }
}

.footer__copyright {
  background-color: #171819;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copyright p {
  color: #fff;
  font-size: 11px;
  font-weight: 400;
}

.signup {
  height: 100px;
  background-color: #171819;
  margin-top: -1px;
}

.signup__body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 650px) {
  .signup__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.signup__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.85px;
  white-space: nowrap;
  margin-right: calc(20px + 50 * ((100vw - 320px) / (1440 - 320)));
}

@media (max-width: 650px) {
  .signup__title {
    margin: 0 0 10px 0;
  }
}

.signup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.signup__input {
  display: inline-block;
  width: 250px;
  height: 40px;
  padding: 11px 10px 10px 16px;
}

@media (max-width: 444px) {
  .signup__input {
    width: calc(200px + 50 * ((100vw - 320px) / (444 - 320)));
  }
}

.signup__input::-webkit-input-placeholder {
  color: #48555b;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.07px;
}

.signup__input:-moz-placeholder {
  color: #48555b;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.07px;
}

.signup__input::-moz-placeholder {
  color: #48555b;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.07px;
}

.signup__input:-ms-input-placeholder {
  color: #48555b;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.07px;
}

.signup__input:focus {
  outline: 2px solid #00a4e5;
}

.signup__button {
  cursor: pointer;
}

@media (max-width: 444px) {
  .signup__button {
    width: calc(90px + 60 * ((100vw - 320px) / (444 - 320)));
  }
}
